.transition-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 80px);
  z-index: 999;
  background: linear-gradient(to right, var(--swup-blue), #1a1a1a);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.6s ease-in-out;
  pointer-events: none;
}

html.is-changing .transition-overlay {
  transform: scaleX(1);
}

html.is-animating.is-leaving .transition-main {
  opacity: 0;
  transform: translateX(-30px);
  transition: all 0.3s ease-in-out;
}

html.is-animating.is-rendering .transition-main {
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.3s ease-in-out;
}

html.is-rendering .transition-overlay {
  transform: scaleX(0);
  transform-origin: right;
}
